body {
   border : solid 1px #333 ;
    margin : 30px ;
  width: 600px;
  height:400px;
  background: linear-gradient(-160deg, #05FBFF, #3F25FF);
    overflow-x: hidden;
    height: 100%:
}

h1 {
  color: #444;
  font-size: 23px;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
#title{
    font-size: 100px;
}
#sc {
    margin-top: -300px;
    margin-left: 10px;
    font-size: 25px;
}
#score {
    margin-top: -30px;
    margin-left: 137px;
    font-size: 25px;
}
.button1 {
    position: relative;
    top: -120px;
    left:150px;
     font-size: 20px;
}
